# =========================
# NODE
# =========================
node_modules/
npm-debug.log
yarn-error.log

# =========================
# SESSION (WA LOGIN)
# =========================
session/

# =========================
# DATABASE (PRIVATE DATA)
# =========================
db.json

# =========================
# ENV
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# TEMP
# =========================
tmp/
temp/